body{
    background-color: rgb(84, 126, 150);
}
#menu {
    width: 33%;
    margin-bottom: 5px;
}
a{
    background-color: rgb(48, 114, 153);
    color: black;
    text-decoration: none;
    font-size: 50px;
    border: solid;
}
a:hover{
    background-color: blue;
}
.flex{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex > div {
    font-size: 30px;
  }
.image{
    width: 550px;
    height: 400px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    border: solid;
}
.image p{
    opacity:0;
    transform: scale(0);
    transition: 0.8;
    font-size: 2rem;
    color: white;
}
.image:hover{
    box-shadow: 0 0 0 300px rgba(0,0,0,0.9) inset;
}
.image:hover p{
    opacity: 1;
    transform: scale(1);
}
#a{
    background-image: url(a.jpg);
}
#b{
    background-image: url(a.jpg);
}
#c{
    background-image: url(a.jpg);
}
#d{
    background-image: url(a.jpg);
}
#e{
    background-image: url(a.jpg);
}
#f{
    background-image: url(a.jpg);
}